  <div class="wrapper col2">
  <div id="breadcrumb">
    <ul>
      <li class="first"><a href="#/projet-detail/{{projetUid}}">Informations projet</a></li>
      <li>&#187;</li>
      <li class="current" ><a href="#/listes/{{projetUid}}">Listes d'url</a></li>
      <li>&#187;</li>
      <li><a href="#/alertes/{{projetListUrlUid}}">Alertes</a></li>
      <li>&#187;</li>
      <li ng-if="scope.app.urlList.typeUid == 1" ><a href="#/parameters/{{projetListUrlUid}}">Paramètres</a></li>
    </ul>
  </div>
</div>
<div id="gallery">
  	<font>Nom de la liste : </font><input type="text" ng-model="app.urlList.name" /><br/>
  	<font>Description : </font><input type="text" ng-model="app.urlList.description" /><br/>
  	Mode de création :
  	<SELECT ng-model="selection" >
		<OPTION value="sitemap" >Charger la liste à partir de l'url d'un sitemap</OPTION>
		<OPTION value="upload" >Charger la liste à partir de l'import d'un fichier CSV</OPTION>
	</SELECT>
	<br/>
	<div ng-switch on="selection" >
		<div ng-switch-when="sitemap">
			<font>Saisir l'url du sitemap : </font><input ng-model="app.sitemap.url" type="text" /> 
			<input type="button" value="Soumettre le sitemap" ng-click="app.submitSitemap(app.sitemap.url)" />
        </ul>
		</div>
		<div ng-switch-when="upload" >
			<input type="file" nv-file-select uploader="uploader" />
			<br/>
			<ul>
            <li ng-repeat="item in uploader.queue">
                Name: <span ng-bind="item.file.name"></span><br/>
                <button ng-click="item.upload()">upload</button>
            </li>
			
		</div>
	</div>
	<br/>
<div>
  <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:35%">Origine url</td>
      <td style="width:20%">Redirection url1</td>
      <td style="width:20%">Redirection code1</td>
      <td style="width:20%">Redirection url2</td>
      <td style="width:20%">Redirection code2</td>
      <td style="width:20%">Redirection url3</td>
      <td style="width:20%">Redirection code3</td>
      <td style="width:25%">Edit</td>
    </tr>
    <tr ng-repeat="urlRow in urlListe">
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="urlRow.url" e-name="url" e-form="rowform"  e-required>
          {{ urlRow.url || 'empty' }}
        </span>
      </td>
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="urlRow.redirectionUrl1" e-name="redirectionUrl1" e-form="rowform" e-required>
          {{ urlRow.redirectionUrl1 || 'empty' }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-select="urlRow.redirectionUrlCode1" e-name="redirectionUrlCode1" e-form="rowform" e-ng-options="s.value as s.text for s in statuses" e-required>
          {{ urlRow.redirectionUrlCode1 }}
        </span>
      </td>
      
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="urlRow.redirectionUrl2" e-name="redirectionUrl2" e-form="rowform" >
          {{ urlRow.redirectionUrl2 || 'empty' }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-select="urlRow.redirectionUrlCode2" e-name="redirectionUrlCode2" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">
          {{ urlRow.redirectionUrlCode2 }}
        </span>
      </td>
      
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="urlRow.redirectionUrl3" e-name="redirectionUrl3" e-form="rowform" >
          {{ urlRow.redirectionUrl3 || 'empty' }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-select="urlRow.redirectionUrlCode3" e-name="redirectionUrlCode3" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">
          {{ urlRow.redirectionUrlCode3 }}
        </span>
      </td>
      
      
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="saveUrl($data, urlRow.uid)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == urlRow">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()">Modifier</button>
          <button class="btn btn-danger" ng-click="removeUrl($index,urlRow.uid)">Suppr</button>
        </div>  
      </td>
    </tr>
  </table>
  
  <button class="btn btn-default" ng-click="addUrl()">Ajouter une url</button>
</div>
</div>