  <div class="wrapper col2">
  <div id="breadcrumb">
    <ul>
      <li class="first"><a href="#/projet-detail/{{projetUid}}">Informations projet</a></li>
      <li>&#187;</li>
      <li class="current" ><a href="#/listes/{{app.infosProjet.uid}}">Listes d'url</a></li>
      <li>&#187;</li>
      <li><a href="#/users/{{app.infosProjet.uid}}">Utilisateurs</a></li>
    </ul>
  </div>
</div>
  
  <div id="gallery">
    <table ng-table class="table">
    <tr ng-repeat="liste in listes">
        <td data-title="'nom de la liste'"><a href="#/liste-detail/{{liste.projetUid}}/{{liste.uid}}">{{liste.name}}</a></td>
        <td data-title="'total url'"><a href="#/liste-detail/{{liste.projetUid}}/{{liste.uid}}">{{liste.nbUrl}}</a></td>
        <td data-title="'Rapports'"><a href="#/rapport">graph</a></td>
    </tr>
    </table>
     <a href="#/list-add/{{projetUid}}">Ajouter une liste</a>
</div>