  <div class="wrapper col2">
  <div id="breadcrumb">
    <ul>
      <li class="first"><a href="#/projet-detail/{{projetUid}}">Informations projet</a></li>
      <li>&#187;</li>
      <li class="current" ><a href="#/listes/{{projetUid}}">Listes d'url</a></li>
      <li>&#187;</li>
      <li><a href="#/users/{{projetUid}}">Utilisateurs</a></li>
      <li>&#187;</li>
      <li><a href="#/alertes/{{projetListUrlUid}}">Alertes</a></li>
      <li>&#187;</li>
      <li><a href="#/parameters/{{projetListUrlUid}}">Paramètres</a></li>
    </ul>
  </div>
</div>
<div style="width: 450px;margin-left: 200px;height: 200px" >
  	<div style="width: 200px;display:inline-block;float:left">Nom de la liste : </div><div style="float:left;display:inline-block;width: 200px"><input type="text" ng-model="app.urlList.name" /></div>
  	<div style="width: 200px;display:inline-block;float:left">Description : </div><div style="float:left;display:inline-block;width: 200px"><input type="text" ng-model="app.urlList.description" /></div>
  	<div style="width: 200px;display:inline-block;float:left">Type de liste :</div>
  	<div style="float:left;display:inline-block;width: 200px">
  		<select ng-model="typeDefault" ng-options="type.name for type in types"/>
  	</div>
  	<br/>
  	 <input style="float: botton;" type="button" value="Ajouter" ng-click="app.saveInfos(app.urlList)" />
  	
</div>
