  <div class="wrapper col2">
  <div id="breadcrumb">
    <ul>
      <li class="first"><a href="#/projet-detail/{{projetUid}}">Informations projet</a></li>
      <li>&#187;</li>
      <li class="current" ><a href="#/listes/{{projetUid}}">Listes d'url</a></li>
      <li>&#187;</li>
      <li><a href="#/users/{{projetUid}}">Utilisateurs</a></li>
    </ul>
  </div>
</div>
  
  <div id="gallery">
    <a href="#/list-add/{{projetUid}}">Ajouter une liste</a>
    <table ng-table class="table">
    <tr ng-repeat="liste in listes">
        <td data-title="'Nom de la liste'"><a href="#/liste-detail/{{liste.projetUid}}/{{liste.uid}}">{{liste.name}}</a></td>
        <td data-title="'Nombre d url'"><a href="#/liste-detail/{{liste.projetUid}}/{{liste.uid}}">{{liste.nbUrl}}</a></td>
        <td data-title="'Rapports'"><a ng-if="liste.eventsDone.length > 0" href="#/reports/{{liste.projetUid}}/{{liste.uid}}">Disponbile</a></td>
    </tr>
    </table>
     <a href="#/list-add/{{projetUid}}">Ajouter une liste</a>
</div>