 <div class="wrapper col2">
  <div id="breadcrumb">
    <ul>
      <li class="first"><a href="#/projet-detail/{{projetUid}}">Informations projet</a></li>
      <li>&#187;</li>
      <li><a href="#/liste-detail/{{projetUid}}/{{projetListUrlUid}}">Listes d'url</a></li>
      <li>&#187;</li>
      <li><a href="#">Alertes</a></li>
      <li>&#187;</li>
      <li class="current"><a href="#">Paramètres</a></li>
    </ul>
  </div>
</div>
  
  <div id="gallery">
  Fréquence : 
  <br/>
  <br/>
  <input type="radio" checked  name="frequence" value="daily" ng-model="parameters.frequence"  >Tous les jours à partir de </input><select ng-model="heureDefault" ng-options="hr.heure for hr in heures"> </select> h <select ng-model="minuteDefault" ng-options="mn.minute for mn in minutes"> </select> mn<br/>
  <input type="radio"  name="frequence" value="weekly" ng-model="parameters.frequence"  >Toutes les semaines le </input> <select ng-model="jourDefault" ng-options="jr.name for jr in jours"> </select> à <select ng-model="heureDefault" ng-options="hr.heure for hr in heures"> </select> h <select ng-model="minuteDefault" ng-options="mn.minute for mn in minutes"> </select> mn<br/>
  <input type="radio"  name="frequence" value="monthly" ng-model="parameters.frequence" >Tous les mois</input> le <select ng-model="numJourDefault" ng-options="numJr.numero for numJr in numeroJours"> </select> du mois à <select ng-model="heureDefault" ng-options="hr.heure for hr in heures"> </select> h <select ng-model="minuteDefault" ng-options="mn.minute for mn in minutes"> </select> mn<br/>
  <br/>
  	Vitesse : 
  <br/>
   User agent de la liste : <select ng-model="uaDefault" ng-options="ua.name for ua in userAgents">
  </select>
  <br/>
  <br/>
  <button ng-click="app.saveParameters(parameters.frequence)" >Valider</button>
</div>